networks:
  ops-network:
    driver: bridge

volumes:
  postgres-data:
  rabbitmq-data:
  grafana-data:

services:
  # -----------------------------
  # Postgres
  # -----------------------------
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: ops_user
      POSTGRES_PASSWORD: ops_password
      POSTGRES_DB: orderdb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - ops-network

  # -----------------------------
  # Redis
  # -----------------------------
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - ops-network

  # -----------------------------
  # RabbitMQ
  # -----------------------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ops_user
      RABBITMQ_DEFAULT_PASS: ops_password
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - ops-network

  # -----------------------------
  # Order Service
  # -----------------------------
  order-service:
    build:
      context: ./OrderService
      dockerfile: Dockerfile
    container_name: order-service
    depends_on:
      - postgres
      - rabbitmq
      - redis
    networks:
      - ops-network

  # -----------------------------
  # Payment Service
  # -----------------------------
  payment-service:
    build:
      context: ./PaymentService
      dockerfile: Dockerfile
    container_name: payment-service
    depends_on:
      - postgres
      - rabbitmq
      - redis
    networks:
      - ops-network

  # -----------------------------
  # Notification Service
  # -----------------------------
  notification-service:
    build:
      context: ./NotificationService
      dockerfile: Dockerfile
    container_name: notification-service
    depends_on:
      - rabbitmq
    networks:
      - ops-network

  # -----------------------------
  # API Gateway
  # -----------------------------
  api-gateway:
    build:
      context: ./ApiGateway
      dockerfile: Dockerfile
    container_name: api-gateway
    depends_on:
      - order-service
      - payment-service
      - notification-service
    networks:
      - ops-network

  # -----------------------------
  # Nginx (Reverse Proxy)
  # -----------------------------
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api-gateway
      - order-service
      - payment-service
      - notification-service
    networks:
      - ops-network

  # -----------------------------
  # Grafana
  # -----------------------------
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - ops-network
